img {
border-radius: 50%;
position: center;
}
.alinhamento{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
    color: red;


}
